nav {
  height: 120px;
  box-sizing: border-box;
  background-color: #4056a1;
  color: #FFFFFF;
  display:flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;/* Set the navbar to fixed position */
  top:0;/* Position the navbar at the top of the page */
  width:100%;
  
}

.nav-logo {
  font-family: 'Bungee', cursive;
  margin-left: 1.5em ;
  font-size: 1.6em;
}

/*
nav-parent-columns is a div that holds the "Write a new tweet" in a span and also hold the  Arrow Icon  
*/

.nav-parent-columns{
  display: flex;
  flex-direction: column;
  margin-right: 1.5em;
  align-items: center;
}


/*
bold-write is an Id given to word Write to tagret it so its bold 
*/

#bold-write{
  font-weight: bold;
}

/*
Arrow class tragets the arrow Iconn 
*/

.arrow {
  color:rgb(234, 37, 37);
  margin-top: 3px;
  width: 5px;
  height: 5px;
  animation: bounce 1s infinite alternate;
}
/*
Animation code for arow bounce
*/
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-6px);
  }
}

/*
Tablets - phones 
*/
@media only screen and (max-width: 1023px) {
  nav {
    background-color: transparent;
    background-image: url("https://www.transparenttextures.com/patterns/cardboard-flat.png");
  }
}

/*
///////////////////Desktop
*/
@media only screen and (min-width: 1024px) {
  nav {
    z-index: 10;
  }
  .write-tweets{
    font-size: 1.1em;
    font-weight: strong;
  }
}  










