.new-tweet{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
}

.new-tweet label{
  font-weight: bold;
}

.top-of-form{
  display: flex;
  border-bottom-style: solid;
  border-bottom-color:black;
  align-items: center;
  margin-top: 1em;
}

#tweet-text{
  border: none;
  outline: none;
  border-bottom-style: solid;
  border-bottom-color:black;
  background-color: transparent;
  width: 100%;
  resize: none;
  
}



.bottom-of-form{
  display: flex;
  margin-top: .7em;
  align-items: center;
  justify-content: space-between;
}

.new-tweet output{
  font-family: 'Bungee', cursive; 
}

.new-tweet button{
  font-family: 'Bungee', cursive; 
  background-color: #4056a1;
  color: #FFFFFF;
}

.redCounter{
  color:red

}